{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Survey submitted" %}{% endblock title %}

{% block body %}
    <div class="h-100 row align-items-center"><!--div for survey name and description-->
        <div class="col">
            <h3 class="font-weight-bold text-center mt-3">Thanks! Your answers have been saved!</h3>
            <hr>
            <div class="survey-head text-center">
                <p><span class="font-weight-bold">You can come back anytime and change them!</span>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-outline-primary waves-effect" href="{% url 'survey:survey-list' %}">Go back</a>
            </div>
        </div>
    </div>

{% endblock %}
