{% extends 'base.html' %}
{% load i18n %}
{% load survey_extras %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{ survey.name }} {% endblock title %}

{% block extrajs %}
    {{ response_form.media }}
    {% if asset_context.flatpickr %}
        <script type="text/javascript" src="{% static 'js/flatpickr.min.js' %}"></script>
    {% endif %}
{% endblock %}

{% block extracss %}
    {% if asset_context.flatpickr %}
        {{ block.super }}
        <link href="{% static 'css/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
    {% endif %}
{% endblock %}




{% block body %}
    <div class="h-100 row align-items-center"><!--div for survey name and description-->
        <div class="col">
            <h3 class="font-weight-bold text-center mt-3">Survey "{{ survey.name }}"</h3>
            <hr>
            <div class="survey-head text-center">
                <p><span class="font-weight-bold">{{ survey.description|safe }}</span>
                </p>
            </div>
        </div>
    </div>

    <form action="{% url 'survey:survey-detail' id=survey.id %}" method="post">
        {% for category in categories %}

            <div class="h-100 mt-5 row align-items-center"><!--div for EVERYTHING-->
                <div class="col border border-light" id="accordion"><!--also div for EVERYTHING-->
                    <a data-toggle="collapse"
                       data-parent="#accordion"
                       href="#collapse{{ category.slugify }}">
                        <h5 class="font-weight-bold text-center mt-3">{{ category }}</h5>
                    </a>

                    {% if category.description %}
                        <div class="text-center">
                            <p><span class="font-weight">{{ category.description|safe }}</span>
                            </p>
                        </div>
                    {% endif %}

                    <div id="collapse{{ category.slugify }}"
                         class="panel-collapse collapse {% if not survey.editable_answers and response_form.response is not None %}in{% endif %}
				        {{ response_form|collapse_form:category }}">
                        <div class="panel-body">

                            {% for form in response_form %}
                                {% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}
                                    <tr class="{% if form.errors %} danger {% endif %}">
                                        <hr>
                                        <div class="survey-head text-center">
                                            <p>{{ form.label|safe }}</p>
                                        </div>
                                        <hr>
                                        {% if form.field.required %}
                                            <span class="glyphicon glyphicon-asterisk" style="color:red"> </span>
                                        {% endif %}
                                        <span class="help-inline" style="color:red">
	                            <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
	                            </span> <br>
                                        {% if form.field.widget.input_type == 'select' %}
                                            <select class="browser-default custom-select" name="{{ form.name }}"
                                                    {% if form.field.widget.attrs.disabled %}
                                                    disabled{% endif %}>
                                        {% endif %}
                                        {% for field in form %}
                                            {% if form.field.widget.input_type == 'radio' %}
                                                <div class="form-check mb-3">
                                                    {{ field }}
                                                </div>
                                            {% elif form.field.widget.input_type == 'checkbox' %}
                                                <div class="form-checkbox mb-1">
                                                    {{ field }}
                                                </div>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {% if form.field.widget.input_type == 'select' %}
                                            </select>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        <div class="h-100 row align-items-center"><!--div for buttons-->
            <div class="col border border-light">
                {% if survey.editable_answers %}
                    <p>You can edit answers later</p>
                {% elif response_form.response is None %}
                    <p>You wont be able to edit answers later</p>
                {% endif %}
                <button type="submit" class="btn btn-primary waves-effect waves-light">Send
                </button>

                <a class="btn btn-outline-primary waves-effect float-right"
                   data-dismiss="modal" href="{% url 'survey:survey-list' %}">Cancel</a>
            </div>
            {% csrf_token %}
        </div>
    </form>



{% endblock %}
