{% extends "base.html" %}

{% block title %}
    Thank you for your email confirmation. Now you can login your account.
{% endblock %}


{% block body %}
    <h1>{{ message }}</h1>
    <h3>You will be redirected soon</h3>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        setTimeout(function () {
            {% if link %}
                window.location.href = "{{ link }}";
            {% else %}
                window.location.href = "{% url 'login' %}";
            {% endif %}
        }, 5000);
    </script>
{% endblock %}