{% extends "base.html" %}

{% block title %}My surveys{% endblock %}

{% block body %}
    <h1>My surveys</h1>

    <div class="module">
        {% for survey in object_list %}
            <div class="course-info">
                <h3>{{ survey.name }}</h3>
                <a href="{% url "survey:survey_results" survey.id %}" class="btn btn-success">View answers</a>

                <a href="{% url "survey:survey_edit" survey.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url "survey:survey_category_update" survey.id %}" class="btn btn-warning">Edit
                    categories</a>

                {% if survey.categories.count > 0 %}
                    <a href="{% url "survey:category_question_list" survey.categories.first.id %}"
                       class="btn btn-info">Manage questions</a>
                {% endif %}
                <a href="{% url "survey:survey_delete" survey.id %}" class="btn btn-danger">Delete</a>
            </div>
            {% empty %}
            <p>You haven't created any surveys yet.</p>
        {% endfor %}
        <p>
            <a href="{% url "survey:survey_create" %}" class="button">Create new survey</a>
        </p>
    </div>
{% endblock %}